
header {
  padding: 100px 0 100px;
}

section {
  padding: 20px 0;
}

.iframe_graph{
    height: 500px;
    width: 50%;
    border: 1px;
    /*border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;*/
    /*margin-right: 8px;
    margin-left: 8px;*/
}
.contenido_graficas{
    padding: 10px;
    height: 700px;
    /*margin: 10px;*/
}

.color_fondo{
    background-color: #93acc7
}

